html {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 50px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.top-header-bar {
  display: flex;
  align-items: center;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

.top-header-bar img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.banner {
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
}

.header-text h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;
}

.header-text h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}


.navigation {
  display: flex;
  background-color: firebrick;
}

.navigation-menu ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}

.mobile-nav  ul {
  display: none;
}


.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}


.product-box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  width: 30%;
}

.product-box-1 img {
  height: 9rem;
  padding: 2rem 0 2rem 0;
}

.image-text {
  display: block;
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 0.5rem 0;
}

.product-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  width: 30%;
}

.product-box-2 img {
  height: 9rem;
  padding: 2rem 0 2rem 0;
}

.product-box-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  width: 30%;
}

.product-box-3 img {
  height: 9rem;
  padding: 2rem 0 2rem 0;
  width: 90%;
}



.info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem
}

.location, .hours {
  width: 35%;
}

.location h4 {
  background-color: black;
  padding: 1rem 2rem;
}

.location p {
  color: black;
}

.hours h4 {
  background-color: black;
  padding: 1rem 2rem;
}

.hours p {
  color: black;
}

.footer {
  display: flex;
  align-items: center;
  background-color: black;
  height: 5rem;
}

.copyright p {
  color: white;
  text-align: left;
}




@media only screen and (max-width:1024px) {
  .product-box-1 {
    width: 47%;
  }
  .product-box-2 {
    width: 47%;
  }
  .product-box-3 {
    display: none;
  }

  .location, .hours {
    width: 35%;
  }
  }

@media only screen and (max-width: 1024px) {
  .navigation-menu ul {
    display: none;
  }

  .navigation {
    display: flex;
    background-color: firebrick;
  }

  .mobile-nav ul {
    display: block;
    text-align: center;
    color: white;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 470px;
    margin: 0 auto;
  }

  .banner {
    height: 15rem;
  }

  .header-text {
    display: flex;
    align-content: center;
    width: 100%;
    margin-top: 10rem;
  }

  .header-text h1 {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .header-text h2 {
    font-size: 0.77rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  /* .products {
    display: flex;
    justify-content: center;
  } */

  .product-box-1 {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }

  .product-box-2 {
    display: none;
  }

  .product-box-3 {
    display: none;
  }

  .header-text h1 {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2rem;
    text-align: left;
  }

  .header-text h2 {
    font-size: 0.77rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .info {
    flex-direction: column;
    justify-content: center;
  }

  .location, .hours {
    width: 90%;
  }

  .footer {
    text-align: center;
  }
}
